[FORMAT]
indent-string='    '
max-line-length=150

[BASIC]
function-naming-style=snake_case
argument-naming-style=snake_case
variable-naming-style=snake_case
method-naming-style=snake_case
attr-naming-style=snake_case
class-naming-style=PascalCase
good-names=ax, df, i, j, k, x, y, z

# [MESSAGES CONTROL]
# disable=useless-object-inheritance,missing-function-docstring,too-many-branches

[DESIGN]
max-args=10
max-locals=40
max-attributes=10
